*{
    caret-color: transparent;
}

#main-frame{
    
    background-color: bisque;
    border: 10px solid beige;
    min-width: 497px;

}

#logo-frame{
    display: flex;
    justify-content: center;
}

#logo{
    margin-top: 10px;
}

#board-frame{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

#board{

    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    width: 50%;
    max-width: 480px;
    background-color:antiquewhite;
}

.box{
 
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 2px solid red;
    width: 33.33%

}

.cell{

    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 2px solid red;
    width: 30.3%;
    background-color: white;
    margin: 1.5%;
    text-align: center;
    font-size: 30px;

}


/* Buttons section */

#buttons-frame{
    display: flex;
    justify-content: center;
    width: 100%;
}

button{

    margin: 5px;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 5px;

}

button:hover{

    
    background-color: rgb(190 242 229);
   /*background-color: aquamarine;*/

}

button:active{

    /*background-color: rgb(24, 192, 136);*/
    background-color: aquamarine;

}

input:disabled{
    background-color:white;
    color: black;
}

input{
    outline-color: green;
}

input:focus{
    background-color: rgb(190 242 229);
}